*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #bcb8b1;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header sidebar" 
        "main-image sidebar"
        "slider-container sidebar";
    height: 100vh;
    width: 100vw;
   
}

.header {
    position: relative;
    font-weight: 600;
    font-size: 2rem;
    grid-area: header;
    margin: 0;
    text-align: center;
    margin-top: 2rem;
}

.header::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80%;
    background-color: #20063b;
    transition: width 0.4s ease-in-out;
}

.header:hover::after {
    background-color: #6f1d1b;
    width: 100%;
}


.main-image {
    grid-area: main-image;
    background-image: url('https://source.unsplash.com/TiVPTYCG_3E');
    background-position: center ;
    background-size: cover;
    margin-top: 2rem;
    background-repeat: no-repeat;
    border-radius: .5rem;
    max-width: 70%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar {
    grid-area: sidebar;
    background-color: #bcb8b1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: .5rem;
    border-left: 2px solid #20063b;
    overflow: hidden;
}

.sidebar-button {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #bcb8b1;
    border: none;
    outline: none;
    position: relative;
    font-size: 1rem;
    transition: background-color 250ms;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2.5px;
    font-size: 1.8rem;
    width: 100%;
}

.sidebar-button:focus, .sidebar-button:hover {
    background-color: #463f3a;
    color: #f4f3ee;
}

.sidebar-button.active {
    background-color: #5e6472;
    color: #f4f3ee;
}

.sidebar-button::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #20063b;
    transition: width 0.4s ease-in-out;
}

.sidebar-button:hover::after {
    background-color: #ffffff;
    width: 100%;
}

.slider-container {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-60%);
    grid-area: slider-container;
    background-color: #8a817c;
    margin: 2rem;
    border-radius: 1rem;
    font-size: 2em;
    padding: 2rem;
    letter-spacing: 2px;
    color: #20063b;
}

@media screen and (min-width: 900px) {
    .slider-container {
        position: relative;
        left: 48%;
        transform: translateX(-50%);
    }
    .main-image {
        background-position: center;
        background-size: cover;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* Width of thumb */
    height: 20px; /* Height of thumb */
    background: #463f3a; /* Color of thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #ffe6a7 0%, #99582a 50%, #432818 100%); /* Color gradient for track */
    border-radius: 5px;
}
.slider {
    width: 100%;
    cursor: pointer;
} 